<div class='h-screen flex-grow-1 overflow-y-lg-auto'>
  <div class='container'>
    <div class='form-group text-small'>
      <small><a href='/admin/filmManager'>Quay lại</a></small>
    </div>
    <h4 class='text-success'>Cập nhật phim</h4>
    <div class='row justify-content-center'>
      <div class='col-xl-8 col-lg-8 col-md-8 border mt-3 pt-3 rounded'>
        <form action='/admin/filmManager/edit/{{movie._id}}' method='post' novalidate>
          <div class='form-group'>
            <label for='title'>Tên phim</label>
            <input
              value='{{movie.title}}'
              type='text'
              id='title'
              name='title'
              class='form-control'
              placeholder='Nhập tên phim'
            />
          </div>
          <div class='form-group'>
            <label for='genre'>Thể loại</label>
            <select name="genre" id="genre" class='form-control'>
              <option value="Hành động" {{#ifeq movie.genre "Hành đồng"}} selected {{/ifeq}}>Hành động</option>
              <option value="Hài hước" {{#ifeq movie.genre "Hài hước"}} selected {{/ifeq}}>Hài hước</option>
              <option value="Tình cảm" {{#ifeq movie.genre "Tình cảm"}} selected {{/ifeq}}>Tình cảm</option>
              <option value="Hoạt hình" {{#ifeq movie.genre "Hoạt hình"}} selected {{/ifeq}}>Hoạt hình</option>
              <option value="Khoa học viễn tưởng" {{#ifeq movie.genre "Khoa học viễn tưởng"}} selected {{/ifeq}}>Khoa học viễn tưởng</option>
              <option value="Kinh dị" {{#ifeq movie.genre "Kinh dị"}} selected {{/ifeq}}>Kinh dị</option>
              <option value="Phiêu lưu" {{#ifeq movie.genre "Phiêu lưu"}} selected {{/ifeq}}>Phiêu lưu</option>
              <option value="Chính kịch" {{#ifeq movie.genre "Chính kịch"}} selected {{/ifeq}}>Chính kịch</option>
              <option value="Âm nhạc" {{#ifeq movie.genre "Âm nhạc"}} selected {{/ifeq}}>Âm nhạc</option>
            </select>
          </div>
          <div class='form-group'>
            <label for='description'>Mô tả</label>
            <input
              value='{{movie.description}}'
              type='text'
              id='description'
              name='description'
              class='form-control'
              placeholder='Nhập mô tả phim'
            />
          </div>
          <div class='form-group'>
            <label for='cast'>Diễn viên</label>
            <input
              value='{{movie.cast}}'
              type='text'
              id='cast'
              name='cast'
              class='form-control'
              placeholder='Nhập tên diễn viên'
            />
          </div>
          <div class='form-group'>
            <label for='director'>Đạo diễn</label>
            <input
              value='{{movie.director}}'
              type='text'
              id='director'
              name='director'
              class='form-control'
              placeholder='Nhập tên đạo diễn'
            />
          </div>
          <div class='form-group'>
            <label for='releaseDate'>Ngày khởi chiếu</label>
            <input
              value='{{movie.releaseDate}}'
              type='date'
              id='releaseDate'
              name='releaseDate'
              class='form-control'
              placeholder='Nhập ngày khởi chiếu'
            />
          </div>
          <div class='form-group'>
            <label for='duration'>Thời lượng</label>
            <input
              value='{{movie.duration}}'
              type='text'
              id='duration'
              name='duration'
              class='form-control'
              placeholder='Nhập thời lượng phim'
            />
          </div>
          <div class='form-group'>
            <label for='language'>Ngôn ngữ</label>
            <input
              value='{{movie.language}}'
              type='text'
              id='language'
              name='language'
              class='form-control'
              placeholder='Nhập ngôn ngữ của phim'
            />
          </div>
          <div class='form-group'>
            <label for='status'>Trạng thái</label><br/>
            <input type='radio' name='status'
              id='showing'
              value="Đang chiếu"
            {{#ifeq movie.status 'Đang chiếu'}}
                checked
            {{/ifeq}}/>
            <label for='showing'>Đang chiếu</label>
            <br />
            <input
              type='radio'
              name='status'
              id='comingsoon'
              value="Sắp chiếu"
              {{#ifeq movie.status 'Sắp chiếu'}}
                checked
              {{/ifeq}}
            />
            <label for='comingsoon'>Sắp chiếu</label>
          </div>
          <div class='form-group'>
            <label for='poster'>Poster</label>
            <input
              value='{{movie.poster}}'
              type='text'
              id='poster'
              name='poster'
              class='form-control'
              placeholder='Nhập link poster phim'
            />
          </div>
          <div class='form-group'>
            <label for='trailer'>Link Trailer</label>
            <input
              value='{{movie.trailer}}'
              type='text'
              id='trailer'
              name='trailer'
              class='form-control'
              placeholder='Nhập link trailer phim'
            />
          </div>
          <div class='form-group'>
            {{#if error}}
              <br />
              <div class='alert alert-danger alert-dismissible fade show'>
                {{error}}
              </div>
              <br />
            {{/if}}
          </div>
          <div class='form-group'>
            <button type="submit" class='btn btn-success mr-2'>Cập nhật phim</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>