<link rel='stylesheet' href='/css/promotion.css' />
<h1 class="about--us-title-title mg-40-0">KHUYẾN MÃI</h1>
<div class="container">
<h3 class="content-title mt-3 mb-3">{{promotion.namePromotion}}</h3>
<p>28/03/2023</p>
<span> MBT, MBT Star, MBT Cineplex, MBT Khuyến mãi, MBT Star Member</span>
    <div class="row ml-3 mr-3 d-flex justify-content-between cineInfor">
        <div class="col-7 cineAbout">
            <div class="about--us-content">
                <div class="text--content">
                    <img src="{{promotion.imgPromotion}}" alt="404">
                    <ul>
                        <li><strong>Chương trình: </strong>{{promotion.namePromotion}}</li>
                        <li><strong>Thời gian: </strong>{{promotion.timePromotion}}</li>
                        <li><strong>Rạp áp dụng: </strong>{{promotion.theaterApply}}</li>
                        <li><strong>Nội dung: </strong>{{promotion.contentPromotion}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
