<link rel="stylesheet" href="/css/userprofile.css" />

<div class="container">
  <h1 class="mg-40-0">THÔNG TIN NGƯỜI DÙNG</h1>
  <div class="row content">
    <div class="col-sm-12 col-md-4 profile-tab-nav">
      <div class="p-4">
        <div class="img-circle text-center mb-3">
          <img src="../img/ava_both.png" alt="IMG" class="shadow" />
        </div>
        <h4 class="text-center">{{user.name}}</h4>
      </div>
      <div
        class="nav flex-column nav-pills"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active"
          id="account-tab"
          data-toggle="pill"
          href="#account"
          role="tab"
          aria-controls="account"
          aria-selected="true"
        >
          <i class="fa fa-home text-center mr-1"></i>
          Tài khoản
        </a>
        <a
          class="nav-link"
          id="password-tab"
          href="/userprofile/changePassword"

        >
          <i class="fa fa-key text-center mr-1"></i>
          Mật khẩu
        </a>
      </div>
    </div>
    <div
      class="col-sm-12 col-md-8 tab-content p-4 p-md5"
      id="v-pills-tabContent"
    >
      <div
        class="tab-pane fade show active"
        id="account"
        role="tabpanel"
        aria-labelledby="account-tab"
      >
        <h3 class="mb-4">Thông tin người dùng</h3>
        <form action="/userprofile" method="post">
          <input type="hidden" name="formId" value="form1" />
          <input type="hidden" name="userId" value="{{user._id}}" />
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Họ tên</label>
                <input
                  type="text"
                  class="form-control"
                  value="{{user.name}}"
                  id="name"
                  name="name"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  value="{{user.email}}"
                  id="email"
                  name="email"
                  readonly
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Số điện thoại</label>
                <input
                  type="tel"
                  class="form-control"
                  value="{{user.phone}}"
                  id="phone"
                  name="phone"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="gender">Giới tính</label>
                <select class="form-select" id="gender" name="gender">
                    <option value="Nam"
                      {{#ifeq user.gender 'Nam'}}
                          selected
                      {{/ifeq}}>
                      Nam
                    <option value="Nữ"
                      {{#ifeq user.gender 'Nữ'}}
                          selected
                      {{/ifeq}}
                    >
                    Nữ
                    <option value="Khác"
                      {{#ifeq user.gender 'Khác'}}
                          selected
                      {{/ifeq}}
                    >Khác
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="birthDate">Ngày sinh</label>
                <input
                  type="date"
                  id="birthDate"
                  name="birthDate"
                  class="form-control"
                  value="{{user.birthDate}}"
                />
              </div>
            </div>
          </div>
          <div>
            <button style="margin-right: 15px" class="btn btn-light">Cancel</button>
            <button type="submit" class="btn btn-success">
              Cập nhật thông tin
            </button>
          </div>
          {{#if error}}
            <div class="alert alert-danger alert-dismissible fade show">
              {{error}}
            </div>
				  {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  document.getElementById('showChangePasswordForm').addEventListener('click', () => {
    const form = document.getElementById('changePasswordForm');
    form.classList.toggle('d-none');
  });
</script>
